name: Create GitHub Release

on:
  # Run on demand
  workflow_dispatch:

  # Run on push to main and when any of associated files are updated
  push:
    branches:
      - main
    paths:
      - Dockerfile.tools
      - '.github/workflows/dependabot_hack.yml'
      - 'providers/versions.tf'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          fetch-depth: 0
      - run: git fetch --tags --force origin  # WA: https://github.com/actions/checkout/issues/882
      - name: Create release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
        with:
          name: release/${{ github.sha }}
          tag_name: release/${{ github.sha }}
          generate_release_notes: true
          target_commitish: ${{ github.sha }}
          token: ${{ secrets.GH_RELEASES_TOKEN }}
